
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
	<title></title>
	<link rel="stylesheet" href=""> <!--para estilos CSS -->
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header id="header" class="">
		<h1>  </h1>
	</header><!-- /header -->	

<!-- <nav class="">
    <ul>
        <li><a href="#"></a></li> 
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
     <li><a href="#"></a></li>
    </ul> 
</nav> -->

<section>
			
		<article>
			<p>  </p>
		</article>

		<div id="main">
			<ul>
			    <li v-for="item in people"> {{ item }}</li>			    
			</ul>
			<input type="text" v-model="">
		</div>


		<script type="text/javascript">
			
			new Vue ({ 
						el:'#main',
						data:{
							peopl: ['joder','coño','juan']

					}
							
					})
						}

		</script>



</section>




<aside>
	
</aside>

<footer>
	
</footer>



<script type="text/javascript" src="js/vue.js"></script>



<!--
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
!-->
</body>
</html>
